<div class="container mx-auto p-8">
    <div class="flex justify-between items-center mb-8">
        <h2 class="text-4xl font-bold text-gray-800">Manage Events</h2>
        <div>
            <a href="/admin" class="inline-block text-white font-bold py-3 px-6 rounded-full transition duration-300 bg-gradient-to-r from-gray-500 to-gray-600 hover:opacity-90 transform hover:scale-105 mr-4">Retour au dashboard</a>
            <a href="/events" class="inline-block text-white font-bold py-3 px-6 rounded-full transition duration-300 bg-gradient-to-r from-blue-500 to-indigo-600 hover:opacity-90 transform hover:scale-105 mr-4">Voir la page événements</a>
            <a href="/admin/events/add" class="inline-block text-white font-bold py-3 px-6 rounded-full transition duration-300 bg-gradient-to-r from-green-500 to-teal-600 hover:opacity-90 transform hover:scale-105">Add New Event</a>
        </div>
    </div>
    <div class="bg-white p-8 rounded-xl shadow-sm border border-gray-100">
        <table class="w-full text-left">
            <thead>
                <tr class="border-b">
                    <th class="py-2 px-4">Title</th>
                    <th class="py-2 px-4">Date</th>
                    <th class="py-2 px-4">Location</th>
                    <th class="py-2 px-4">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% events.forEach(event => { %>
                    <tr class="border-b hover:bg-gray-50">
                        <td class="py-4 px-4"><%= event.title %></td>
                        <td class="py-4 px-4"><%= event.date.toDateString() %></td>
                        <td class="py-4 px-4"><%= event.location %></td>
                        <td class="py-4 px-4">
                            <a href="/admin/events/edit/<%= event._id %>" class="text-blue-600 hover:underline mr-4">Edit</a>
                            <form action="/admin/events/delete/<%= event._id %>" method="POST" style="display:inline;">
                                <button type-="submit" class="text-red-600 hover:underline">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
