<h1 class="text-3xl font-bold mb-6">Gérer l'Équipe</h1>

<div class="flex justify-between items-center mb-4">
    <div>
        <a href="<%= adminPath %>/members/add" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">Ajouter un Membre</a>
    </div>
    <div>
        <a href="<%= adminPath %>" class="bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-gray-700 mr-2">Retour au Dashboard</a>
        <a href="/team" class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-700">Voir la page Équipe</a>
    </div>
</div>

<div class="bg-white shadow-md rounded my-6">
  <table class="min-w-full table-auto">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Nom</th>
        <th class="py-3 px-6 text-left">Rôle</th>
        <th class="py-3 px-6 text-center">Actions</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <% items.forEach(item => { %>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left whitespace-nowrap"><%= item.name %></td>
          <td class="py-3 px-6 text-left"><%= item.role %></td>
          <td class="py-3 px-6 text-center">
            <div class="flex item-center justify-center">
              <a href="<%= adminPath %>/members/edit/<%= item._id %>" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.536L16.732 3.732z" />
                </svg>
              </a>
              <form action="<%= adminPath %>/members/delete/<%= item._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce membre ?');">
                <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                <button type="submit" class="w-4 mr-2 transform hover:text-red-500 hover:scale-110">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                </button>
              </form>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
